body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.dice1 {
  width: 40px;
  height: 40px;
  background-color: brown;
  padding: 10px;
  margin: 6px;
}

.dice2 {
  width: 40px;
  height: 40px;
  background-color: grey;
  padding: 10px;
  margin: 6px;
}

#new-game {
  width: 800px;
  height: 30px;
  margin-left: 290px;
  margin-top: 115px;
}

.form-control {
  color: #2fbaf9;
}

label {
  color: #d6ff4f;
}

.pig-img {
  float: right;
  border-radius: 30px;
  height: 200px;
}

.pig-img h1 {
  color: #d6ff4f;
  font-size: 55px;
}